.about-block {
	margin-bottom: 120px;
	
	&__descr {
		font-size: 20px;
		line-height: 34px;
		font-weight: 300;

		a {
			display: inline-block;
			color: $brand-color;
			font-weight: 500;
			text-decoration: none !important;

			border-bottom: 1px solid $brand-color;

			line-height: 1.4;

			transition: all 0.2s ease-in-out;

			&:hover {
				color: $brand-color;
				border-bottom-color: transparent;
			}
		}

		p {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__first-caption {
		font-size: 30px;
		line-height: 44px;
		font-weight: 300;

		p {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__label {
		font-size: 24px;
		font-weight: 700;
	}

	&__logo {
		margin-bottom: 25px;
	}

	&__item-wrapper {
		margin-bottom: 30px;

		padding-bottom: 50px;

		&:not(:last-child) {
			border-bottom: 1px solid #E2E2E2;
		}

		&.bbn,
		&:last-child {
			border-bottom: none;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-down(lg) {
	.about-block {
		margin-bottom: 80px;
	}
}

@include media-breakpoint-down(md) {
	.about-block {
		&__first-caption {
			font-size: 24px;
			line-height: 34px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.about-block {
		margin-bottom: 40px;
		
		&__item-wrapper {
			padding-bottom: 25px;
			margin-bottom: 25px;

			&.bbn {
				border-bottom: 1px solid #E2E2E2;
			}

			&:last-child {
				margin-top: 50px;
			}
		}

		&__descr {
			display: none;

			font-size: 14px;
			line-height: 24px;
			
			p:first-child {
				padding-top: 20px;
			}

			&.show-always {
				display: block;
			}
		}

		&__logo {
			width: 120px;
			margin-bottom: 16px;

			img {
				display: block;
				width: 100%;
				height: auto;
				backface-visibility: hidden;
			}
		}

		&__label {
			cursor: pointer;
			position: relative;
			width: 100%;

			font-size: 18px;
			line-height: 24px;
			padding-right: 40px;

			&:after {
				content: "";
				width: 12px;
				height: 8px;
				display: block;

				position: absolute;
				top: 50%;
				right: 0;

				margin-top: -4px;

				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center center;
				background-image: url("../img/chevron.svg");

				transform: rotate(180deg);

				transition: transform 0.2s ease-in-out;
			}

			&.active {
				&:after {
					transform: rotate(0);
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.about-block {
		&__descr {
			display: block !important;
		}
	}
}