.catalog-block {
	width: 100%;

	&__subtitle {
		margin-bottom: 35px;
	}

	&__main-block {
		background-color: #F5F5F5;
		width: 100%;

		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__sort-block {
		margin-bottom: 60px;
		width: 100%;
	}

	&__sort-row {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		@include media-breakpoint-down(lg) {
			display: block;
		}
	}

	&__sort-col {
		width: 50%;
		display: flex;
		margin-bottom: 16px;

		&:nth-child(2n) {
			justify-content: flex-end;
		}

		@include media-breakpoint-down(lg) {
			width: 100%;
			display: block;
		}
	}

	&__sort-col-content {
		display: flex;
	}

	&__sort-col-label {
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;

		letter-spacing: 0.05em;
		font-weight: 400;
		margin-right: 10px;
		flex-shrink: 0;;
	}

	&__sort-col-list {
		list-style: none;
		padding: 0;
		margin: 0;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		li {
			a {
				text-decoration: none !important;
				font-size: 12px;
				line-height: 20px;
				text-transform: uppercase;

				letter-spacing: 0.05em;
				font-weight: 400;
				color: $brand-color;

				transition: all 0.2s ease-in-out;
				
				&:hover {
					opacity: 0.8;
				}
			}

			&.active {
				a {
					font-weight: 700;
				}
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&__more-button {
		display: block;
		width: 150px;
		margin-left: auto;
		margin-right: auto;

		z-index: 8;
		position: relative;
	}

	&__pagination {
		width: 100%;
		display: flex;
		flex-direction: column;

		margin-top: -60px;
		z-index: 3;

		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	&__pagination-caption {
		font-size: 12px;
		text-transform: uppercase;

		letter-spacing: 0.1em;
		margin-left: 10px;
		flex-shrink: 0;
	}

	&__pagination-control {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	&__pagination-current {
		border: 2px solid #fff;
		font-size: 17px;
		line-height: 56px;

		text-align: center;
		letter-spacing: 0.1em;
		font-weight: 700;
		width: 60px;
		flex-shrink: 0;
	}

	&__pagination-arrow {
		width: 50px;
		height: 50px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		color: $brand-color;
		font-size: 20px;

		transition: all 0.2s ease-in-out;
		text-decoration: none !important;

		&.next {
			transform: rotate(180deg);
		}

		&:hover {
			color: $brand-color;
			opacity: 0.7;
		}
	}
}