.catalog-filter {
	width: 100%;

	background-color: $brand-color;
	color: #fff;

	padding-top: 35px;
	padding-bottom: 35px;

	&__search-input {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	&__search-input-wrapper {
		width: calc(100% - 35px);
		flex-shrink: 1;;
	}

	&__search-button {
		@include reset-button();

		width: 30px;
		height: 40px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		color: #ffffff;

		flex-shrink: 0;
		margin-left: 5px;

		font-size: 22px;
		margin-top: auto;
		padding: 0;


		transition: all 0.2s ease-in-out;

		&:hover {
			color: #ffffff;
			opacity: 0.7;
		}
	}

	&__price-range-block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding-top: 19px;
		height: 50px;
	}

	&__price-range {
		flex-grow: 4;
		flex-shrink: 1;
		height: 27px;

	}

	&__price-range-caption {
		flex-shrink: 0;
		margin-left: 10px;

		font-size: 12px;
		line-height: 17px;
		letter-spacing: 0.05em;
	}


	&__submit-button {
		margin-left: auto;
		margin-right: auto;

		display: block;
		width: 200px;
		margin-bottom: 40px;
	}

	&__found-caption {
		width: 100%;
		text-align: center;
		font-size: 13px;
		line-height: 20px;

		letter-spacing: 0.05em;

		text-transform: uppercase;

		b {
			font-weight: 700;
		}
	}

	&__reset-button {
		@include reset-button();

		position: absolute;
		bottom: 0;
		right: 0;

		z-index: 6;

		text-transform: uppercase;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		color: #ffffff;

		flex-shrink: 0;

		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.05em;
		
		padding: 0;


		transition: all 0.2s ease-in-out;

		i {
			margin-left: 20px;
			flex-shrink: 0;
			font-size: 24px;
			margin-top: -3px;
		}

		&:hover {
			color: #ffffff;
			opacity: 0.7;
		}
	}

	&__form {
		position: relative;
		width: 100%;

		.checkbox-wrapper {
			margin-bottom: 40px;
		}

		.form-control {
			border-bottom-color: #fff;
			color: #ffffff;

			&::placeholder {
				color: rgba(#fff, 0.5);
			}
		
			&:-moz-placeholder {
				color: rgba(#fff, 0.5);
			}
			&::-moz-placeholder { 
				color: rgba(#fff, 0.5);
			}
			&:-ms-input-placeholder { 
				color: rgba(#fff, 0.5);
			}
			&::-webkit-input-placeholder {
				color: rgba(#fff, 0.5);
			}
		}

		select.form-control {
			background-color: #727577;
			border-color: transparent;
			
			&:not(.not-empty) {
				color: rgba(#fff, 0.5);
			}
		}
	}

	
}