.feedback-block {

    &__subtitle {
        margin-bottom: 60px;
    }
    
    &__form {

        .checkbox-wrapper {
            margin-bottom: 40px;

            label {
                text-transform: none;
            }
        }
    }

    &__submit-button {
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}