.first-block {
	width: 100%;

	background-repeat: no-repeat;
	background-color: #000;

	background-position: center center;
	background-size: cover;
	background-image: url("../img/first-block-bg.jpg");

	position: relative;

	color: #fff;

	margin-bottom: 120px;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		height: 100vh;
		min-height: 400px;


	}

	&__logo {
		position: absolute;
		top: 50%;
		right: 0;

		transform: translateY(-50%);
	}

	&__title-block {
		margin-left: -50px;
		border: 4px solid #FF0000;

		width: 890px;

		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;
		padding-top: 50px;
	}

	&__title-item {
		width: 100%;
		text-transform: none;
		text-decoration: none;
		font-weight: 700;
		font-size: 60px;
		line-height: 74px;
	}

	&__mobile-logo {
		display: none;
	}
}

@include media-breakpoint-down(lg) {
	.first-block {
		margin-bottom: 80px;

		&__title-item {
			font-size: 45px;
			line-height: 1.3;
		}

		&__title-block {
			width: 700px;
			margin-left: 0;
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.first-block {
		margin-bottom: 40px;

		padding-top: 45px;
		padding-bottom: 80px;

		.container {
			height: auto;
			min-height: 0;
			display: block;
		}

		&__title-block {
			border: none;
			padding: 0;
			width: 100%;
		}

		

		&__title-item {
			font-size: 34px;
			line-height: 40px;
			width: 100%;
			max-width: 275px;
		}

		&__mobile-logo {
			width: 120px;
			display: block;
			margin-bottom: 45px;

			img {
				display: block;
				width: 100%;
				height: auto;
				backface-visibility: hidden;
			}
		}

		&__logo {
			display: none;
		}
	}
}