.first-block {
	width: 100%;
	background-color: $brand-color;
	border-radius: 0 0 40px 40px;

	color: #fff;


	&.has-top-bg {
		background-repeat: no-repeat;
		background-size: 1922px auto;
		background-position: top center;
		padding-top: 1300px;
		
		background-image: url(../img/first-block-bg.svg);
	}

	&__block-content {
		width: 100%;
		background-color: $brand-color;
	}
}










