.offers-block {
	width: 100%;
	margin-bottom: 30px;

	&__offer {
		display: block;
		text-decoration: none !important;
		color: $brand-color;

		width: 100%;
		display: flex;
		flex-direction: row;
		position: relative;

		justify-content: center;
		align-items: center;

		background-color: #fff;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

		transition: all 0.2s ease-in-out;

		&:before {
			content: "";
			display: block;

			width: calc(100% - 20px);
			height: calc(100% - 20px);

			top: 10px;
			left: 10px;

			position: absolute;

			pointer-events: none;
			z-index: 5;

			border: 1px solid $brand-color;
		}

		&:hover {
			color: $brand-color;
			opacity: 0.9;
		}

		@include media-breakpoint-down(md) {
			padding-left: 400px;
			display: block;

			padding-top: 40px;
			padding-bottom: 40px;
			padding-right: 40px;
		}
	}

	&__img-block {
		display: block;
		width: 440px;
		flex-shrink: 0;
		order: 2;
		height: 150px;
		overflow: hidden;

		margin-left: 30px;
		margin-right: 30px;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			backface-visibility: hidden;
		}

		@include media-breakpoint-down(lg) {
			width: 300px;
			height: 130px;
		}

		@include media-breakpoint-down(md) {
			height: 100%;
			width: 350px;

			position: absolute;
			left: 20px;
			top: 0;
			margin: 0;
		}
	}

	&__caption {
		display: block;
		flex-grow: 3;
		flex-shrink: 1;

		font-size: 30px;
		line-height: 40px;
		letter-spacing: 0.1em;
		text-transform: uppercase;

		max-width: 300px;

		&.left-caption {
			order: 1;
			text-align: right;
			font-weight: 700;
		}

		&.right-caption {
			order: 3;
		}

		@include media-breakpoint-down(lg) {
			font-size: 25px;
			line-height: 30px;

			max-width: 250px;
		}

		@include media-breakpoint-down(md) {
			&.left-caption {
				text-align: left;
				margin-bottom: 16px;
			}
		}
	}
}