.page-footer {
	width: 100%;
	position: relative;

	background-color: #333C45;

	color: #fff;

	&__copyright {
		color: #54626F;
		font-size: 16px;
	}

	&__logo {
		width: 105px;
		display: block;
		margin-right: 20px;

		img {
			display: block;
			width: 100%;
			height: auto;
			backface-visibility: hidden;
		}
	}

	&__creator {
		flex-shrink: 0;
		margin-left: 90px;
		width: 32px;
		display: block;

		img {
			display: block;
			width: 100%;
			height: auto;
			backface-visibility: hidden;
		}
	}

	&__nav-links {
		margin-left: auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		a {
			font-size: 16px;
			text-decoration: none !important;
			color: #fff;

			transition: all 0.2s ease-in-out;

			&:not(:last-child) {
				margin-right: 50px;
			}

			&:hover {
				color: $brand-color;
			}
		}
	}

	&__row {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		height: 90px;
	}
}

@include media-breakpoint-down(lg) {
	.page-footer {

		&__creator {
			margin-left: 30px;
		}

		&__copyright {
			font-size: 15px;
		}

		&__nav-links {
			a {
				font-size: 15px;

				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.page-footer {

		&__row {
			flex-wrap: wrap;
			height: auto;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		&__creator {
			order: 4;
			margin-left: auto;
		}

		&__copyright {
			order: 3;
		}

		&__logo {
			order: 1;
			margin-bottom: 20px;
		}

		&__nav-links {
			order: 2;
			margin-bottom: 20px;

			a {
				font-size: 15px;

				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
}


@include media-breakpoint-down(sm) {
	.page-footer {
		&__row {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&__logo {
			margin-bottom: 30px;
			margin-right: 0;
		}

		&__copyright {
			font-size: 14px;
			line-height: 16px;
		}

		&__nav-links {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			margin-bottom: 25px;

			a {
				font-size: 14px;


				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
	}
}

