.popup-block {
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 600; 
	
	width: 100%;
	height: 100%;
	overflow-y: auto;
	color: #000;
	
	display: none;
	
	transition: opacity .3s ease-in-out;
	
	opacity: 0;
	
	&.active {
		display: block;
		
		&.fadeIn {
			opacity: 1;
		}
	}
	
	&__overlay {
		position: relative;
		display: block;
		width: 100%;
		min-height: 100%;
		overflow: hidden;
		
		background-color: rgba(0,0,0,0.8);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		width: 50px;
		height: 50px;
		
		
		&:after,
		&:before {
			content: "";
			display: block;
			width: 34px;
			height: 3px;
			
			background-color: #000;
			transition: all 0.15s ease-in;
			
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 1px;
			
			margin-top: -1px;
			margin-left: -17px;
		}
		
		&:after {
			transform: rotate(-45deg);
		}
		
		&:before {
			transform: rotate(45deg);
		}
		
		&:hover {
			&:after,
			&:before {
				background-color: #000;
			}
		}
	}
	
	&__popup {
		position: relative;
		background-color: #fff;
		box-shadow: 0 0 15px 0 rgba(12,12,12,0.2);
			
		.inner-content {
			height: auto;
			
			padding-top: 35px;
			padding-bottom: 40px;

			padding-left: 45px;
			padding-right: 45px;
		}
	}
	
}

@include media-breakpoint-down(sm) {
	.popup-block {
		-webkit-overflow-scrolling: touch !important;
		
		&__overlay {
			padding-top: 40px;
			padding-bottom: 60px;
			padding-left: 15px;
			padding-right: 15px;
		}
		
		&__popup {
			width: 100%;
			height: auto;
			
			.inner-content {
				padding-left: 15px;
				padding-right: 15px;
				
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
		
	}
}






