<footer class="page-footer">
	<div class="page-footer__map-block">
		<div id="footer_map" class="page-footer__map"></div>
	</div>

	<div class="container">
		<div class="page-footer__main-row">
			<div class="page-footer__main-content">
				<div class="page-footer__logo"><img src="img/main_logo.svg" alt=""></div>

				<div class="page-footer__address-block">
					<div class="page-footer__company-name">ООО МЕТРИУМ ПРЕМИУМ</div>

					<div class="page-footer__sales-address">Отдел продаж: <br>Москва, ул. Валовая 26, этаж 13, <br>Бц «lighthouse»</div>

					<div class="page-footer__contacts-block">
						<a href="tel:+74954315531">+7 (495) 431-55-31</a>
						<a href="mailto:info@metrium.ru">info@metrium.ru</a>
					</div>
				</div>

				<ul class="page-footer__social-links">
					<li><a href="#"><i class="icon-fb"></i></a></li>
					<li><a href="#"><i class="icon-inst"></i></a></li>
					<li><a href="#"><i class="icon-youtube"></i></a></li>
				</ul>

				<div class="page-footer__copyright">
					<a href="#">Политика обработки персональных данных</a><br> 
					<a href="#">Политика обработки cookie</a> <br>
					<span>© ООО Метриум Премиум, 2020</span>
				</div>
			</div>
		</div>
	</div>
</footer>