
// GLOBAL STYLES
@import "global/custom-variables";

@import "global/functions";
@import "global/bootstrap-variables";
@import "global/mixins";
@import "global/reboot";
@import "global/type";
@import "global/grid";
@import "global/forms";
@import "global/buttons";
@import "global/utilities";
@import "global/fonts";
@import "global/tabs";

// PLUGINS STYLE
@import "plugins/icons";
@import "plugins/select2";
@import "plugins/ion.rangeSlider";
@import "plugins/custom-range-slider";

// BLOCKS STYLE
@import "blocks/popup-block";
@import "blocks/page-header";
@import "blocks/first-block";
@import "blocks/offers-block";
@import "blocks/catalog-block";
@import "blocks/catalog-filter";
@import "blocks/q-select-block";
@import "blocks/feedback-block";

@import "blocks/page-footer";

body {
	position: relative;
	background-color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
	font-family: $font-family;
	color: $brand-color;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
	min-width: 320px;
	
}




