
.btn {
  @include reset-button();
  
  background-color: $brand-color;
  
  text-align: center;
  border-radius: 5px;
  color: #fff;

  font-family: $font-family;
  font-size: 16px;
  font-weight: 500;

  line-height: 20px;

  padding-top: 15px;
  padding-bottom: 15px;
  
  transition: all 0.2s ease-in-out;
  
  &:hover {
    background-color: lighten($brand-color, 5%);
    box-shadow: none;

  }
  
  &:active {
    box-shadow: none;
    background-color: darken($brand-color, 10%);
  }
  
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
  }

  &.disabled,
  &[disabled] {
    background-color: #FAFAFA;
    pointer-events: none;
    color: #BCBFC7;
  }
}