@font-face {
    font-family: 'Circe';
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../fonts/circe/Circe-Bold.woff2') format('woff2'),
        url('../fonts/circe/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/circe/Circe-Regular.woff2') format('woff2'),
        url('../fonts/circe/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

