[contenteditable] {
	outline: none !important;
}

.form-control {
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	background: none;
	overflow: hidden;

	height: 50px;
	line-height: normal;
	color: $brand-color;
	font-weight: 700;
	font-size: 16px;
	font-family: $font-family; 

	letter-spacing: 0.05em;
	
	border-radius: 0;

	text-transform: uppercase;
	
	border: none;
	border-bottom: 1px solid $brand-color;
	

	padding-left: 0;
	padding-right: 0;

	width: 100%;
	background-color: transparent;

	// Unstyle the caret on `<select>`s in IE10+.
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $input-color;
	}

	&::placeholder {
		color: rgba($brand-color, 0.5);
		// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
	}

	&:-moz-placeholder {
		color: rgba($brand-color, 0.5);
	}
	&::-moz-placeholder { 
		color: rgba($brand-color, 0.5);
	}
	&:-ms-input-placeholder { 
		color: rgba($brand-color, 0.5);
	}
	&::-webkit-input-placeholder {
		color: rgba($brand-color, 0.5);
	}
}

.form-control__wrapper {
	margin-bottom: 40px;
	width: 100%;

	label {
		display: block;
		margin-bottom: 16px;

		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-weight: 400;
	}
}

select.form-control {
	cursor: pointer;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyMCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjI5Mjk2OSAxLjcwNzA2TDEuNzA3MTggMC4yOTI4NDdMMTAuMDAwMSA4LjU4NTc0TDE4LjI5MyAwLjI5Mjg0N0wxOS43MDcyIDEuNzA3MDZMMTAuMDAwMSAxMS40MTQyTDAuMjkyOTY5IDEuNzA3MDZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");

	border: 1px solid transparent;
	background-repeat: no-repeat;
	background-size: auto 11px;
	background-position: center right 15px;

	background-color: rgba($brand-color, 0.5);

	padding-left: 20px;
	padding-right: 40px;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;


	&:focus::-ms-value {
		// Suppress the nested default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
		// match the appearance of the native widget.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: $input-color;
		background-color: $input-bg;
	}

	// Styles for "pseudo" placeholder when select is not selected
	&:not(.not-empty) {
		color: rgba($brand-color, 0.5);
	}
}

.checkbox-wrapper {
	
	label {
		user-select: none;
		cursor: pointer;
		position: relative;
		display: inline-block;
		
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		font-weight: 400;

		padding-left: 43px;
		
		margin-bottom: 0;
		
		a {
			text-decoration: none !important;
			color: #333333 !important;
			border-bottom: 1px solid #bde1cc;
			
			transition: all 0.2s ease-in-out;
			
			&:hover {
				border-bottom-color: transparent;
			}
		}
		
		&:before {
			content: "";
			display: block;
			
			width: 21px;
			height: 21px;
			
			border-radius: 0;
			background-color: transparent;
			border: 1px solid $brand-color;
			
			position: absolute;
			left: 0;
			top: -1px;
		}
		
		&:after {
			content: "";
			display: block;
			
			width: 20px;
			height: 15px;
			
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center center;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMC43MDcxIDEuNzA3MThMNy40OTk5NSAxNC45MTQzTDAuMjkyODQ3IDcuNzA3MThMMS43MDcwNiA2LjI5Mjk3TDcuNDk5OTUgMTIuMDg1OUwxOS4yOTI4IDAuMjkyOTY5TDIwLjcwNzEgMS43MDcxOFoiIGZpbGw9IiMzMjNDNDEiLz4KPC9zdmc+Cg==");

			
			position: absolute;
			top: -5px;
			left: 2px;
			
			opacity: 0;
		}
	}
	
	input {
		display: none;
		
		&:checked + label:after {
			opacity: 1;
		}
	}

	&.white-version {
		label {
			&:before {
				border-color: #fff;
			}

			&:after {
				background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMC43MDcxIDEuNzA3MThMNy40OTk5NSAxNC45MTQzTDAuMjkyODQ3IDcuNzA3MThMMS43MDcwNiA2LjI5Mjk3TDcuNDk5OTUgMTIuMDg1OUwxOS4yOTI4IDAuMjkyOTY5TDIwLjcwNzEgMS43MDcxOFoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");

			}
		}
	}
}

@mixin loader-anim {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzgiIGhlaWdodD0iMzgiIHZpZXdCb3g9IjAgMCAzOCAzOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHJva2U9IiMyN2FlNjEiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj48Y2lyY2xlIHN0cm9rZS1vcGFjaXR5PSIuNSIgY3g9IjE4IiBjeT0iMTgiIHI9IjE4IiAvPjxwYXRoIGQ9Ik0zNiAxOGMwLTkuOTQtOC4wNi0xOC0xOC0xOCI+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTggMTgiIHRvPSIzNjAgMTggMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPiA8L3BhdGg+PC9nPjwvZz48L3N2Zz4=);
}

form.loading {
	position: relative;
	
	&:before {
		content: "";
		display: block;
		
		width: 100%;
		height: 100%;
		
		background-color: rgba(255,255,255,0.6);
		
		background-repeat: no-repeat;
		background-size: 50px auto;
		background-position: center center;
		
		@include loader-anim;
		
		position: absolute;
		top: 0;
		left: 0;
		
		z-index: 50;
	}
}


input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

// Form grid
//
// Special replacement for our grid system's `.row` for tighter form layouts.
.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -$form-grid-gutter-width;
	margin-left: -$form-grid-gutter-width;
	> .col,
	> [class*="col-"] {
		padding-right: $form-grid-gutter-width;
		padding-left: $form-grid-gutter-width;
	}
}

input::-ms-clear {
    display: none;
}

input::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

